@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
* {
	margin:0; padding:0;
}

body {
	font-family: 'Gowun Dodum', sans-serif;
}

.container {
	position:absolute;
	width:960px;
	margin:0 auto;
	background-color:#fff;
	border:1px solid #e7e7e7;
}
header {
	position:relative;
	height:280px;
	background-image:url('../images/jeju.jpg');
	background-repeat:no-repeat;
	background-position:left top;
}
header h1 {
	position:absolute;
	right:20px;
	bottom:70px;
	font-size:3em;
	color:#FC905C;
	text-shadow:1px 2px 2px #000;
}
header h2 {
	position:absolute;
	right:20px;
	bottom:30px;
	font-size:2em;
	color:#FEFDF9;
	text-shadow:2px 2px 2px #000;
}

.navi {
	position:relative;
	background:#FCC269;
	margin-top:-15px;
	width:960px;
	height:60px;
}
.navi ul {
	list-style:none;
	height:40px;
	padding-top:10px;
	padding-bottom:5px;
}
.navi ul li {
	display:inline-block;
	font-size:15px;
}
.navi a, .navi a:visited {
	padding:10px 5px 5px 35px;
	display:block;
	color:#fff;
	width:150px;
	text-decoration:none;
}
.navi a:hover, .navi a:active, .navi a:focus {
	text-shadow:1px 2px 2px #000;
	color:#F9F0E3;
}

.content {
	float:left;
	width:720px;
	background-color:#ffffff;
	padding-top:5px;
	padding-left:10px;
}
.sidebar {
	float:right;
	width:200px;
	height:550px;
	background-color:#FBF3E7;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
}
.sidebar img {
	margin-bottom:5px;
	border:1px solid #ccc;
	opacity:0.5;
	text-align:center;
}
.sidebar img:hover {
	border:1px solid #000;
	opacity:1.0;
}
header, section, footer, aside, article, figure {
	display:block;
}